# rstudio data
*.Rhistory
*.RData

# Python compiled files
*.pyc

# IPython notebook metadata
*.ipynb_checkpoints*

# Ignore files created by pdflatex
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.idx
*.log
*.ps
#
*.nav
*.out
*.snm
*.toc

# Ignore swap files
*.swp
